In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Bambous Virieux,-20.3428,57.7575,70.21,94,20,3.44,MU,2021-10-30 22:24:52
1,1,Saldanha,-33.0117,17.9442,59.05,87,30,9.66,ZA,2021-10-30 22:25:58
2,2,Cherskiy,68.7500,161.3000,-0.92,98,100,5.95,RU,2021-10-30 22:25:58
3,3,Progreso,21.2833,-89.6667,82.51,54,13,10.29,MX,2021-10-30 22:22:43
4,4,Tiksi,71.6872,128.8694,0.37,94,97,8.99,RU,2021-10-30 22:25:59

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
Country        object
Date           object
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [11]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]

# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [16]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
3,3,Progreso,21.2833,-89.6667,82.51,54,13,10.29,MX,2021-10-30 22:22:43
5,5,Santa Isabel Do Rio Negro,-0.4139,-65.0192,82.13,71,85,1.45,BR,2021-10-30 22:25:59
6,6,Oistins,13.0667,-59.5333,80.69,74,20,13.80,BB,2021-10-30 22:25:59
9,9,Rikitea,-23.1203,-134.9692,75.02,85,80,21.12,PF,2021-10-30 22:24:36
12,12,Butaritari,3.0707,172.7902,82.38,73,24,6.20,KI,2021-10-30 22:26:01
16,16,Salalah,17.0151,54.0924,78.89,61,0,3.44,OM,2021-10-30 22:26:02
19,19,Puerto Ayora,-0.7393,-90.3518,78.76,82,96,9.57,EC,2021-10-30 22:26:03
26,26,Sao Jose Da Coroa Grande,-8.8978,-35.1478,77.23,74,1,11.72,BR,2021-10-30 22:26:05
37,37,Mamallapuram,12.6264,80.1722,80.65,84,100,9.86,IN,2021-10-30 22:26:08
42,42,Faanui,-16.4833,-151.7500,78.17,69,15,15.50,PF,2021-10-30 22:24:44

In [17]:
preferred_cities_df.count()

City_ID       126
City          126
Lat           126
Lng           126
Max Temp      126
Humidity      126
Cloudiness    126
Wind Speed    126
Country       125
Date          126
dtype: int64

In [20]:
preferred_cities_df = preferred_cities_df.dropna()

In [21]:
preferred_cities_df.count()

City_ID       125
City          125
Lat           125
Lng           125
Max Temp      125
Humidity      125
Cloudiness    125
Wind Speed    125
Country       125
Date          125
dtype: int64

In [22]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

                         City Country  Max Temp      Lat       Lng Hotel Name
3                    Progreso      MX     82.51  21.2833  -89.6667
5   Santa Isabel Do Rio Negro      BR     82.13  -0.4139  -65.0192
6                     Oistins      BB     80.69  13.0667  -59.5333
9                     Rikitea      PF     75.02 -23.1203 -134.9692
12                 Butaritari      KI     82.38   3.0707  172.7902
16                    Salalah      OM     78.89  17.0151   54.0924
19               Puerto Ayora      EC     78.76  -0.7393  -90.3518
26   Sao Jose Da Coroa Grande      BR     77.23  -8.8978  -35.1478
37               Mamallapuram      IN     80.65  12.6264   80.1722
42                     Faanui      PF     78.17 -16.4833 -151.7500

In [25]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name.
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [27]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [29]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [30]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))